$main-black: #1d293f;
$main-white: #fff;
$green: #28b0a6;
$gray: #546179;
$light-gray: #99a3ad;
$gray-border: #dce5eb;
$bg-heart: #fbfbfb;
$pink: #f9c7d2;
$dark-pink: #ee5879;
$bgnum-rating: #fef2de;
$num-rating: #f5a623;
$celeste: #bcf0ec;
$blue: #1d293f;
$black-gray: #212529;
$gray-border: #e9ecef;
